@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

/* Global PrimeNG Dark Mode Styles */

/*primeNG text inputs*/
.my-app-dark input[pInputText] {
  background-color:  #374151 !important;
 
  border-color: #4b5563 !important;
  color: white !important;
}

.my-app-dark body {
    
    background-color: #121212;
    
}

.my-app-dark #my-standout-modal {
   background-color:  #111827!important;
   
}


.my-app-dark .p-dropdown {
  background-color: #1f2937 !important;
  border-color: #4b5563 !important;
  color: white !important;
}
